@media (min-width: 1920px) {
  .course-wrapper-area .dots {
    right: 225px;
  }

  .about-wrapper-area .triangle {
    left: 340px;
  }

  .solution-wrapper .deco1 {
    left: 27%;
  }

  .leader-wrapper-area .circle {
    right: 16%;
  }

  .solution-wrapper .service-content p {
    font-size: 17px;
  }

  .banner-wrapper-area .banner-wrap .banner-content h1 {
    font-size: 50px;
  }
}
@media (max-width: 1199px) {
  .blog-image {
    width: 95%;
    height: auto !important;
  }

  .blog-content-area .item-content {
    padding: 38px;
    margin-top: -10px;
  }

  .exam-wrapper-area .sidebar {
    width: 60%;
  }

  .categories-wrapper-area .card-deck .card-body-one p {
    font-size: 15px;
  }

  .blog-wrapper-area .blog-wrap .blog-box .blog-text .bc-text h3 {
    font-size: 18px;
  }

  .job-area-wrapper .nav-pills li {
    width: 77%;
  }

  .job-banner-wrapper .form {
    display: block;
  }

  .job-banner-wrapper .form button {
    margin-left: 0;
    margin-top: 20px;
  }

  .project-wrapper-area-two .project-area .project-type .field.clearfix {
    margin-left: -25px;
  }

  .contact-wrapper-area .contact-wrap h2 {
    font-size: 30px;
  }

  .contact-wrapper-area .contact-wrap .contact-service .contact-content p a {
    font-size: 12px;
  }

  .contact-wrapper-area .contact-wrap .contact-service .contact-content {
    margin-top: -35px;
    padding-left: 30px;
  }

  .contact-icon {
    margin-left: -20px;
  }

  .contact-content h4 {
    font-size: 20px;
  }
  .contact-content p {
    font-size: 12px;
  }

  .blog-content-area .clearfix .item-title > a {
    font-size: 13px;
  }

  .blog-content-area .search-field {
    width: 100%;
  }

  .box-wrapper-area .process-inner-box .process-bar-shape {
    display: none;
  }

  .mail-description p {
    font-size: 13px;
  }

  .blog-wrapper-area .blog-wrap .blog-box .blog-text .bc-header p span {
    font-size: 20px;
  }

  .blog-wrapper-area .blog-wrap .blog-box .blog-text .bc-header p i {
    font-size: 10px;
  }

  .course-wrapper-area .course-box h3 {
    font-size: 17px;
  }

  .solution-wrapper .solution-wrap .service-box .service-content h4 {
    font-size: 24px;
  }

  .glassmo .banner-bottom .mail .mail-description h4 {
    font-size: 19px;
  }

  .portfolio-wrapper-area .portfolio-inner H4 {
    font-size: 16px;
  }

  .portfolio-inner p {
    font-size: 15px;
  }

  .team-wrapper-area .team-wrap .single-team h3 {
    font-size: 22px;
  }

  .trainning-wrapper-area .trainning-wrap .trainning-title h2 {
    font-size: 29px;
  }

  .footer-area .single-footer-widget .footer-contact-info li a {
    font-size: 15px;
  }

  .nav-wrapper .custom-nav .custom-navbar .nav-item {
    margin: 0 -3px;
  }

  .banner-wrapper-area .banner-bottom {
    top: 95%;
    width: 922px;
  }

  .banner-wrapper-area .banner-bottom .mail .mail-description p {
    font-size: 12px;
  }

  .banner-wrapper-area .banner-bottom .mail .mail-description h4 {
    font-size: 19px;
  }

  .about-wrapper-area .about-feature .feature-content p {
    font-size: 12px;
  }

  .leader-wrapper-area .leader-wrap .leader-speech p {
    font-size: 15px;
  }

  .leader-wrapper-area .leader-wrap .leader-speech h4 {
    font-size: 18px;
  }

  .single-footer-widget img {
    width: 50%;
  }

  .course-wrapper-area h3 {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .blog-content-area .item-content {
    padding: 38px;
    margin-top: 0;
  }

  .widget.widget_tag_cloud {
    margin-top: 20px;
  }

  .single-item {
    margin-bottom: 20px;
  }

  .freelance-wrapper-area .inner-item {
    margin-top: 152px;
  }

  .group-btn {
    margin-top: 20px;
  }

  .exam-wrapper-area #question label {
    width: calc(10% - 8px);
  }

  .div-one {
    margin-top: 22px;
  }

  .exam-wrapper-area .sidebar {
    width: 60%;
    height: auto;
    border-radius: 1px solid transparent;
    border-right: 1px solid transparent;
    margin-bottom: 50px;
  }

  .job-area-wrapper .nav-area {
    margin-left: 0;
  }

  .job-banner-wrapper .image::before {
    width: 90%;
  }

  .job-area {
    margin-top: 20px;
  }

  .project-wrapper-area-two .project-area .project-type .field.clearfix {
    margin-left: 4px;
    display: block;
  }

  .nav-wrapper .custom-nav .menu-btn {
    margin-left: 0;
  }

  .nav-wrapper .custom-nav .custom-navbar .nav-item {
    margin: 0 0px;
  }

  .service-content-area .service-image {
    margin-top: 20px;
  }

  .funfacts-area .funfact {
    border: none;
    border-radius: 0;
  }

  .course-wrapper-area .course-title p {
    margin-bottom: 0;
  }

  .course-wrapper-area .course-box .item2 {
    transform: translateY(0px);
  }

  .course-wrapper-area .course-box .item {
    transform: translateY(0px);
  }

  .about-wrapper-area .about-content {
    margin-top: 20px;
  }

  .banner-wrapper-area .banner-wrap .banner-content {
    margin-top: -70px;
  }

  .project-area label {
    font-size: 14px;
  }

  .portfolio-inner p {
    font-size: 12px;
  }

  .portfolio-wrapper-area .nav-tabs li {
    margin-left: 5px;
  }

  .team-wrapper-area {
    padding: 80px 0px 50px 0px;
  }

  .trainning-wrapper-area {
    padding: 80px 0px 20px 0px;
  }

  .trainning-wrapper-area .trainning-wrap .trainning-title {
    margin-bottom: 20px;
  }

  .funfacts-area {
    padding: 100px 0px 20px 0px;
  }

  .funfacts-area .funfact {
    margin-bottom: 50px;
  }

  .trainning-wrapper-area::before {
    display: none;
  }

  .plan-area-wrapper .about-content-image {
    margin-top: 0;
  }

  .banner-wrapper-area .banner-wrap .image {
    margin-top: 85px;
  }

  .area::before {
    height: 212vh;
  }

  .counselling-wrapper .counseling-form {
    margin-bottom: 20px;
  }

  .banner-wrapper-area .banner-bottom {
    height: 290px;
    width: 600px;
  }

  .top-info-column {
    text-align: center;
  }

  .nav-wrapper .header-top-area .top-social-icon-column {
    text-align: center;
  }

  .solution-wrapper .solution-wrap .solution-content h2 {
    font-size: 35px;
  }

  .solution-wrapper .solution-wrap .content p {
    font-size: 14px;
  }

  .about-wrapper-area .about-content h2 {
    font-size: 35px;
  }

  .course-wrapper-area h2 {
    font-size: 35px;
  }

  .counselling-wrapper h3 {
    font-size: 35px;
  }

  .leader-wrapper-area .leader-wrap .leader-title h2 {
    font-size: 35px;
  }

  .leader-wrapper-area .circle {
    display: none;
  }

  .leader-wrapper-area .leader-wrap .leader-speech p {
    font-size: 10px;
  }

  .leader-wrapper-area .leader-wrap .leader-speech h4 {
    font-size: 15px;
  }

  .footer-area .footer-bottom-area p {
    font-size: 15px;
  }

  .course-wrapper-area .dots {
    display: none;
  }

  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }

  .navbar-light .navbar-toggler {
    border: 3px solid #fff;
  }
}
@media (max-width: 767px) {
  .blog-image {
    margin-top: 20px;
  }

  .job-banner-wrapper h1 {
    font-size: 42px;
  }

  .job-banner-wrapper .image::before {
    width: 100%;
  }

  .contact-content h4 {
    font-size: 19px;
  }

  .blog-content-area .nav-one {
    margin-left: 0;
  }

  .blog-content-area .item-content {
    padding: 10px;
    margin-top: 0;
  }

  .course-wrapper-area2 .seat .admission {
    left: 6px;
    top: 15px;
    margin-bottom: 40px;
  }

  .course-wrapper-area2 .seat {
    display: block;
  }

  .admission-form-wrapper {
    padding: 80px 0px 80px 0px;
  }

  .about-wrapper-inner .ellipse1 {
    display: none;
  }

  .about-wrapper-inner .ellipse2 {
    display: none;
  }

  .blog-wrapper-area .bc-text p {
    font-size: 12px;
  }
  .blog-wrapper-area .bc-header {
    display: none;
  }

  .blog-wrapper-area .blog-wrap .blog-box .blog-text .bc-text h3 {
    font-size: 15px;
  }

  .solution-wrapper .solution-wrap .service-box {
    margin-top: 20px;
  }

  .solution-wrapper p {
    font-size: 13px;
  }

  .solution-wrapper .solution-wrap .service-box .service-content h4 {
    font-size: 19px;
  }

  .project-area .project-type .field.clearfix {
    display: inline-block;
    margin-left: 0px;
  }

  .project-title h2 {
    font-size: 24px;
  }

  .course-wrapper-area .seat .admission {
    left: 15px;
    top: 20px;
    margin-bottom: 50px;
  }

  .course-wrapper-area .seat {
    display: block;
  }

  .premium-wrapper-area {
    padding: 80px 0px 50px 0px;
  }

  .course-wrapper-area .gd-left h4 {
    margin-top: 20px;
  }

  .portfolio-wrapper-area .nav-tabs {
    justify-content: center;
  }

  .portfolio-wrapper-area .nav-tabs li {
    margin-bottom: 10px;
  }

  .area::before {
    height: 172vh;
  }

  .banner-wrapper-area .banner-bottom {
    display: none;
  }

  .solution-wrapper .solution-wrap .box-content .box-area h4 {
    font-size: 20px;
  }

  .default {
    padding: 12px 40px;
  }

  .solution-wrapper .solution-wrap .box-content .box-area p {
    font-size: 12px;
  }

  .banner-wrapper-area .banner-wrap .banner-content h1 {
    font-size: 35px;
  }

  .about-wrapper-area {
    padding: 70px 0px 0px 0px;
  }

  .about-content {
    margin-top: 20px;
  }

  .course-wrapper-area {
    padding: 70px 0px 0px 0px;
  }

  .counselling-wrapper {
    padding: 70px 0px 0px 0px;
  }

  .leader-wrapper-area {
    padding: 70px 0px 0px 0px;
  }

  .leader-wrapper-area .leader-wrap .leader-speech {
    text-align: center;
  }

  .leader-wrapper-area .leader-wrap .leader-content-area .leader-image {
    position: relative;
    left: 50%;
  }

  .leader-wrapper-area .leader-wrap .leader-content-area {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer-area .footer-bottom-area ul {
    text-align: center;
  }

  .footer-area .footer-bottom-area p {
    text-align: center;
  }

  .footer-area .footer-bottom-area ul li a {
    font-size: 15px;
  }

  .solution-wrapper {
    margin-top: 0;
  }

  .solution-wrapper .solution-wrap .content {
    margin: 40px auto 0 0;
  }
}
@media (max-width: 575px) {
  .blog-content-area .search-field {
    height: 52px;
  }

  .blog-content-area .item-content .default {
    padding: 10px 20px;
  }

  .single-blog-wrapper-area .article-content .comment-form .comment-form-cookies-consent label {
    font-size: 14px;
  }

  .single-blog-wrapper-area .article-content .comment-form .comment-form-cookies-consent input {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .single-blog-wrapper-area .article-content .article-footer .article-share .social {
    text-align: center;
    margin-top: 15px;
  }

  .single-blog-wrapper-area .article-content .article-footer .article-share {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .single-blog-wrapper-area .article-content .article-footer .article-tags {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .single-blog-wrapper-area .article-content .article-footer {
    text-align: center;
  }

  .single-blog-wrapper-area .article-content .blockquote p,
.single-blog-wrapper-area .article-content blockquote p {
    font-size: 16px !important;
  }

  .single-blog-wrapper-area .article-content h3 {
    font-size: 20px;
  }

  .about-wrapper-area .em-bar-big {
    left: 50%;
    transform: translateX(-50%);
  }

  .about-wrapper-area .about-content h2 {
    text-align: center;
  }

  .solution-wrapper .solution-wrap .content p {
    text-align: center;
    margin-top: -22px;
  }

  .solution-wrapper .solution-wrap .solution-content .em-bar-big {
    left: 50%;
    transform: translateX(-50%);
  }

  .solution-content {
    text-align: center;
  }

  .glassmo .banner-bottom .mail .mail-description {
    text-align: center;
  }

  .job-banner-wrapper h1 {
    font-size: 36px;
  }

  .freelance-wrapper-area {
    padding: 20px 0px 20px 0px;
  }

  .login-wrapper-area label {
    position: relative;
    top: -58px;
    left: 20px;
  }

  .login-wrapper-area .nav-tabs {
    border-bottom: none;
    display: block;
  }

  .login-wrapper-area button#profile-tab {
    margin-left: 0;
    margin-top: 20px;
  }

  .login-wrapper-area .login-area {
    padding: 6px;
  }

  .description-block h3 {
    text-align: center;
  }
  .description-block p {
    text-align: center;
  }

  .job-offer-area .job-post-meta {
    margin-left: 10px;
  }

  .bc-text {
    text-align: center;
  }

  .bc-btn {
    text-align: center;
  }

  .course-wrapper-area .course-title h2 {
    font-size: 25px;
  }

  .categories-wrapper-area h2 {
    font-size: 25px;
  }

  .job-area-wrapper .nav-area .area .form-select {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .job-area-wrapper .nav-area .area {
    display: block;
  }

  .job-area-wrapper .nav-pills li {
    width: 100%;
  }

  .job-area-wrapper .nav-pills {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 50px auto 0 42px;
  }

  .job-banner-wrapper .ellipse1 {
    width: 319px;
  }

  .job-banner-wrapper .form input#search-jobs {
    width: 100%;
  }

  .about-wrapper-inner .about-wrap {
    margin-top: 85px;
  }

  .banner-wrapper-area .banner-wrap {
    margin-top: 165px;
  }

  .project-wrapper-area-two {
    overflow: hidden;
  }

  .contact-wrapper-area {
    padding: 50px 0px 50px 0px;
  }

  .blog-content-area {
    padding: 50px 0px 50px 0px;
  }

  .blog-content-area .item-content h3 a {
    font-size: 20px;
  }

  .course-wrapper-area2 {
    padding: 50px 0px 0px 0px;
  }

  .premium-wrapper-area {
    padding: 50px 0px 50px 0px;
  }

  .course-wrapper-area2 .gd-left {
    margin: 30px 0;
  }

  .admission-form-wrapper {
    padding: 50px 0px 50px 0px;
  }

  .box-wrapper-area {
    padding: 50px 0px 50px 0px;
  }

  .funfacts-area .funfact {
    margin-bottom: -8px;
  }

  .trainning-wrapper-area {
    padding: 50px 0px 20px 0px;
  }

  .blog-wrapper-area .blog-wrap .blog-title h2 {
    font-size: 25px;
  }

  .course-wrapper-area .course-box {
    margin-top: 50px;
  }

  .leader-wrapper-area {
    padding: 0px 0px 0px 0px;
  }

  .blog-wrapper-area {
    padding: 50px 0px 0px 0px;
  }

  .contact-side-box h4 {
    font-size: 20px;
  }

  .contact-form h4 {
    font-size: 15px;
  }

  .contact-title h2 {
    font-size: 15px;
  }

  .default {
    font-size: 17px;
  }

  .project-title h2 {
    font-size: 20px;
  }

  .mfp-iframe-holder .mfp-content {
    height: 500px;
  }

  .procedure-wrapper-area .tab-pane h3 {
    font-size: 24px;
  }

  .admission-form-wrapper .form-box h3 {
    font-size: 17px;
  }

  .project-wrapper-area .project-information h2 {
    font-size: 25px;
  }

  .service-content-area .service-area .service-content {
    padding-left: 0;
  }

  .trainning-wrapper-area .trainning-wrap .trainning-title h2 {
    font-size: 18px;
  }

  .team-wrapper-area .team-wrap .team-title p {
    font-size: 15px;
  }

  .team-wrapper-area {
    padding: 50px 0px 0px 0px;
  }

  .testimonial-wrapper-area {
    padding: 50px 0px 50px 0px;
  }

  .plan-area-wrapper {
    padding: 50px 0px 0px 0px;
  }

  .leader-wrapper-area .leader-wrap .leader-speech p {
    font-size: 12px;
  }

  .counselling-wrapper h3 {
    font-size: 25px;
  }

  .nav-wrapper .custom-nav {
    width: 100%;
  }
  .nav-wrapper .custom-nav .logo {
    width: 75%;
  }

  .area::before {
    display: none;
  }

  .leader-wrapper-area .leader-wrap .leader-content-area .leader-image {
    position: relative;
    left: auto;
  }

  .counselling-wrapper {
    padding: 50px 0px 0px 0px;
  }

  .banner-wrapper-area .banner-wrap .banner-content .btn-default {
    display: block;
  }

  .banner-wrapper-area .banner-wrap .banner-content h1 {
    font-size: 30px;
  }

  .banner-wrapper-area .banner-wrap .banner-content p {
    font-size: 16px;
  }

  .button-two {
    margin-top: 45px;
  }

  .banner-wrapper-area .banner-wrap .banner-content .btn-default .default-one {
    margin-left: 0;
  }

  .solution-wrapper .solution-wrap .solution-content h2 {
    font-size: 25px;
  }

  .solution-wrapper .solution-wrap .content p {
    font-size: 12px;
  }

  .about-wrapper-area .about-content h2 {
    font-size: 25px;
  }

  .about-wrapper-area .about-content p {
    font-size: 12px;
  }

  .course-wrapper-area h2 {
    font-size: 25px;
  }

  .course-wrapper-area p {
    font-size: 12px;
    margin-bottom: 30px;
  }

  .banner-wrapper-area {
    overflow: hidden;
  }

  .solution-wrapper .it-up-service-shape {
    display: none;
  }

  .leader-wrapper-area .leader-wrap .leader-title h2 {
    font-size: 23px;
  }

  .leader-wrapper-area .leader-wrap .leader-title p {
    font-size: 12px;
  }

  .footer-area p {
    font-size: 12px;
  }

  .footer-area .single-footer-widget .footer-links-list li a {
    font-size: 12px;
  }

  .footer-area .single-footer-widget .footer-contact-info li a {
    font-size: 12px;
  }

  .banner-wrapper-area .round-3 {
    display: none;
  }
}
@media (max-width: 376px) {
  .procedure-wrapper-area .nav-tabs .nav-link {
    margin-bottom: 10px;
  }
}
@media (max-width: 325px) {
  .navbar-light .navbar-toggler {
    margin-top: -42px;
    margin-left: 190px;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .memoriy_image_gallery .memory_galery_content {
    flex-wrap: wrap;
  }

  .memoriy_image_gallery .memory_galery_content .image_description {
    height: 100px;
    justify-content: normal !important;
  }

  .ceo_area_start {
    display: none;
  }

  .mobile_leader-wrapper-area {
    display: block;
  }
  .mobile_leader-wrapper-area .leader-image {
    margin-bottom: 30px;
  }

  .exam_wrapper_area .exam_nav {
    width: 90%;
    margin-top: 50px;
  }

  .exam_wrapper_area .exam_tab_content .select {
    width: 15em;
  }

  .exam_wrapper_area .exam_tab_content select {
    font-size: 15px;
  }

  .exam_wrapper_area .exam_tab_content .select::after {
    padding: 0 6px;
  }

  .exam_wrapper_area .exam_tab_content ul li {
    padding-left: 10px;
  }

  .exam_wrapper_area .exam_tab_content .chose_sub {
    width: 100%;
  }

  .exam_wrapper_area .test_question .question_pagination nav ul li a {
    height: 30px;
    width: 30px;
    font-size: 16px;
    padding: 1px 10px;
  }

  #answer {
    width: 100%;
  }

  .exam_wrapper_area .test_question .question_pagination nav ul li {
    margin: 0 0px;
  }

  .exam_wrapper_area .titel h4 {
    font-size: 22px;
  }

  .test_instraction {
    margin-top: 40px;
  }

  .exam_wrapper_area .test_question .exam_time_count {
    text-align: center;
  }

  .exam_question.exam_tab_content.content_box_shadow {
    padding: 40px 20px;
  }

  .exam_wrapper_area .test_question .qu_box .question_titel h5 {
    font-size: 18px;
  }

  .exam_wrapper_area .test_question .qu_box .answer_box label.start_quiz_item .exp-label {
    font-size: 15px;
  }

  .exam_wrapper_area .test_question .qu_box .answer_box label.start_quiz_item .exp-number {
    width: 40px;
    height: 36px;
    font-size: 16px;
    line-height: 30px;
    margin-right: 20px;
  }

  .res_m_b {
    margin-bottom: 50px;
  }

  .comp_pro_area .com_pro_content .com_pro_des_content {
    bottom: -17%;
  }

  .ldr_overview_area .overview_content .overview_img {
    margin-bottom: 30px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .ceo_area_start {
    display: none;
  }

  .mobile_leader-wrapper-area {
    display: block;
  }
  .mobile_leader-wrapper-area .leader-image {
    margin-bottom: 30px;
  }

  .exam_wrapper_area .exam_tab_content .select {
    width: 14em;
  }

  .exam_wrapper_area .exam_tab_content .select::after {
    padding: 0 0.5em;
  }

  .exam_wrapper_area .titel h4 {
    font-size: 21px;
  }

  .exam_wrapper_area .exam_nav button {
    background: transparent;
    padding-left: 10px;
  }

  .exam_wrapper_area .exam_tab_content .chose_sub {
    width: 100%;
    margin-top: 0px;
  }

  .exam_wrapper_area .test_question .qu_box .answer_box label.start_quiz_item .exp-number {
    margin-right: 28px;
  }

  .res_m_b {
    margin-bottom: 50px;
  }

  .leader_experience_area .experience_crd .tdbc-card__content h5 {
    font-size: 16px;
  }

  .leader_experience_area .experience_crd .tdbc-card__content p {
    font-size: 14px;
  }

  .m_top {
    margin-top: 20px;
  }

  .comp_pro_area .com_pro_content .com_pro_des_content .pro_title {
    font-size: 18px;
  }

  .comp_pro_area .com_pro_content .com_pro_des_content p {
    font-size: 14px;
  }

  .comp_pro_area .com_pro_content .com_pro_des_content {
    bottom: -21%;
  }

  .ldr_overview_area .overview_content .overview_img {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .ceo_area_start {
    display: none;
  }

  .mobile_leader-wrapper-area {
    display: block;
  }
  .mobile_leader-wrapper-area .leader-image {
    margin-bottom: 30px;
  }

  #answer {
    width: 100%;
  }

  .exam_wrapper_area .exam_nav button {
    background: transparent;
    padding-left: 10px;
  }

  .exam_wrapper_area .exam_tab_content .chose_sub {
    width: 100%;
    margin-top: 0px;
  }

  .exam_wrapper_area .exam_tab_content .select {
    width: 22em;
  }

  .exam_wrapper_area .test_question .qu_box .answer_box label.start_quiz_item .exp-number {
    margin-right: 20px;
  }

  .res_m_b {
    margin-bottom: 40px;
  }

  .m_top {
    margin-top: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .ceo_area_start .ceo_text_content .ceo_spc_de {
    top: 100px;
    left: 22%;
  }

  .ceo_area_start .ceo_text_content .ceo_spc_de p {
    font-size: 14px;
  }

  .exam_wrapper_area .exam_tab_content .chose_sub {
    width: 70%;
    margin-top: 50px;
  }

  #answer {
    width: 100%;
  }

  .exam_wrapper_area .test_question .qu_box .answer_box label.start_quiz_item .exp-number {
    margin-right: 20px;
  }

  .comp_pro_area .com_pro_content .com_pro_des_content p {
    font-size: 14px;
  }

  .comp_pro_area .com_pro_content .com_pro_des_content {
    bottom: -18%;
  }
}/*# sourceMappingURL=responsive.css.map */